---
- name: config_owncloud | downloading owncloud
  get_url:
    url: "{{ owncloud_dl_url }}/{{ owncloud_dl_file }}"
    dest: "/opt/{{ owncloud_dl_file }}"
    validate_certs: no

- name: config_owncloud | extracting owncloud
  unarchive:
    src: "/opt/{{ owncloud_dl_file }}"
    dest: "{{ apache2_webroot }}"
    copy: no

- name: config_owncloud | configuring directory permissions
  file:
    dest: "/var/www/owncloud/"
    owner: www-data
    group: www-data
    state: directory
    recurse: yes

- name: config_owncloud | creating owncloud Apache2 config
  template:
    src: "etc/apache2/sites-available/owncloud.conf.j2"
    dest: "/etc/apache2/sites-available/owncloud.conf"
    owner: root
    group: root
    mode: 0644
  notify:
    - restart apache2

- name: config_owncloud | enabling Apache2 modules
  apache2_module:
    name: "{{ item }}"
    state: present
  with_items:
    - dir
    - env
    - headers
    - mime
    - rewrite
  notify:
    - restart apache2
