---
- name: config_owncloud | downloading owncloud
  get_url:
    url: "{{ owncloud_dl_url }}/{{ owncloud_dl_file }}"
    dest: "/opt/{{ owncloud_dl_file }}"
    validate_certs: no

- name: config_owncloud | extracting owncloud
  unarchive:
    src: "/opt/{{ owncloud_dl_file }}"
    dest: "{{ apache2_webroot }}"
    copy: no
    creates: "{{ owncloud_webroot }}/index.php"

- name: config_owncloud | configuring directory permissions
  file:
    dest: "{{ owncloud_webroot }}/"
    owner: www-data
    group: www-data
    state: directory
    recurse: yes

- name: config_owncloud | creating owncloud Apache2 config
  template:
    src: "etc/apache2/sites-available/owncloud.conf.j2"
    dest: "/etc/apache2/sites-available/owncloud.conf"
    owner: root
    group: root
    mode: 0644
  notify:
    - restart apache2

- name: config_owncloud | enabling Apache2 modules
  apache2_module:
    name: "{{ item }}"
    state: present
  with_items:
    - dir
    - env
    - headers
    - mime
    - rewrite
  notify:
    - restart apache2

- name: config_owncloud | configuring owncloud
  command: 'sudo -u www-data php occ maintenance:install --database "mysql" --database-name "{{ owncloud_db_name }}" --database-user "root" --database-pass "{{ mysql_root_password }}" --admin-user "{{ owncloud_admin_user }}" --admin-pass "{{ owncloud_admin_pass }}"'
  args:
    chdir: "{{ owncloud_webroot }}"
    creates: "{{ owncloud_webroot }}/config/config.php"
